body {
    background-image: url(../../images/bg-intro-desktop.png);
    background-color: hsl(0, 100%, 74%);
    font-family: 'Poppins';
    color: #fff;
    max-width: 1440px;

    border: 3px solid blueviolet;
}

.container {
    display: flex;
    padding: 100px 180px;
    gap: 50px;

    border: 3px solid yellowgreen;
}

.container .head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .head h1 {
    font-size: 40px;
    line-height: 1;
    margin-bottom: 20px;
}

.container .main-section {
    display: flex;
    flex-direction: column;
    min-width: 500px;
}

.container .main-section .btn-free-trial {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    color: #fff;
    background-color: hsl(248, 32%, 49%);
    border: hsl(248, 32%, 49%);
    border-radius: 5px;
    cursor: pointer;
}

.container .main-section .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
}

.container .main-section .form input {
    height: 40px;
    border: 1px solid hsl(246, 25%, 77%);
    border-radius: 5px;
    padding: 0 30px;

}

.container .main-section .form .btn-claim {
    height: 50px;
}