body {
    background-image: url(../../images/bg-intro-desktop.png);
    background-color: hsl(0, 100%, 74%);
    font-family: 'Poppins';
    color: #fff;
    max-width: 1440px;
}

.container {
    display: flex;
    padding: 100px 180px;
    gap: 50px;
}

.container .head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .head h1 {
    font-size: 40px;
    line-height: 1;
    margin-bottom: 20px;
}

.container .main-section {
    display: flex;
    flex-direction: column;
    min-width: 500px;
}

.container .main-section .btn-free-trial {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    color: #fff;
    background-color: hsl(248, 32%, 49%);
    border: hsl(248, 32%, 49%);
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 5px hsl(0, 67%, 65%);
}

.container .main-section .btn-free-trial:hover {
    box-shadow: 0 0 #000;
}

.container .main-section .btn-free-trial .free-trial {
    font-weight: 600;
}

.container .main-section .form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 25px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 5px hsl(0, 67%, 65%);
}

.container .main-section .form .input-wrapper {
    position: relative;
}

.container .main-section .form .input-wrapper input {
    height: 40px;
    width: 100%;
    border: 1px solid hsl(246, 25%, 77%);
    border-radius: 5px;
    padding: 0 45px 0 25px;
    font-weight: 600;
}

.container .main-section .form .input-wrapper .error-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
}

.container .main-section .form .error-message {
    color: hsl(0, 100%, 74%);
    font-style: italic;
    font-size: 10px;
    text-align: right;
    margin-top: -10px;
    font-weight: 500;
}

.container .main-section .form .btn-claim {
    height: 45px;
    letter-spacing: 0.1em;
    background-color: hsl(154, 59%, 51%);
    border: 0 solid;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    box-shadow: 0px 5px hsl(154, 57%, 49%);
}

.container .main-section .form .btn-claim:hover {
    background-color: hsl(154, 63%, 67%);
    border: 0 solid;
    box-shadow: 0px 5px hsl(154, 63%, 67%);
}

.container .main-section .form p {
    color: hsl(246, 25%, 77%);
    font-size: 10px;
    margin: 0;
    font-weight: 600;
    text-align: center;
}

.container .main-section .form p .terms {
    color: hsl(0, 100%, 74%);
}

.error {
    border: 2px solid hsl(0, 100%, 74%);
}

.hidden {
    display: none;
}